.loading-spinner {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

h1 {
  text-align: center;
}

.login-container {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.input-field {
  width: 100%;
  padding: 0.6rem 1.5rem;
  text-align: center;
}

.button-row,
.button-sub-row {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.button-row button {
  width: 50%;
}
