.card {
  max-width: 50rem;
  margin: 0 auto;
  color: white;
  margin: .5rem;
}

.header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.card-content{
    display: flex;
    justify-content: space-evenly;
}

.content-image{
    max-width: 10rem;
}

.card-content > p{
    text-align: center;
    margin: 0 .5rem;
    max-width: 35rem;
}