.card {
  margin: 5vw auto;
  max-width: 90vw;
}

.action-buttons {
    display: flex;
    justify-content: flex-end;
}

/* For Tablets */
@media only screen and (min-width: 600px) {
}

/* For Desktop */
@media only screen and (min-width: 768px) {
  .card {
    max-width: 50rem;
    margin: 0.5rem auto;
  }
}
